*{
  background :rgb(93, 53, 135);
}
.CardTitle{
  background-color:hsl(180, 100%, 97%);
  
}
.CardBody{
  background-color: hsl(180, 100%, 97%);
}
.CardText{
  background-color:hsl(180, 100%, 97%);

}